:root {
    --background-color: #0f0f0f;
    --background-accent-color: #1a1a1a;
    --light-orange-color: #ff9f43;
    --main-orange-color: #ff6b6b;
    --grey-color: #a4b0be;
    --text-color: #f1f2f6;
    --outer-margin: 75px;
}

@font-face { font-family: Stolzl-Display; src: url('../src/Stolzl_Display_Bold.otf'); } 

* {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

div, p, a {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background-color);
    line-height: 1.6;
    letter-spacing: 0.3px;
}

.circle {
    position: absolute;
    background-color: var(--background-accent-color);
    border-radius: 50%;
    z-index: -3;
    filter: blur(80px);
    opacity: 0.5;
}

.mouse-pointer {
    pointer-events: none;
    position: fixed;
    background-color: rgba(255, 152, 0, 1);
    border-radius: 50%;
    z-index: 3;
    width: 20px;
    height: 20px;
    transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}


/* TOP BAR */

.top-bar {
    margin: 0 var(--outer-margin);
    padding-top: var(--outer-margin);
    justify-self: center;
}

.main-logo {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.highlight-circle {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 97px;
    left: 99px;
    background-color:rgba(255, 152, 0, 0);
    border-radius: 50%;
    z-index: -1;
    transition: all .3s ease;
}

.nav-bar {
    float: right;
}

.nav-bar li {
    display: inline;
}

.nav-bar a {
    display: inline-block;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 3.12px;
    font-size: 18px;
    padding-left: 56px;
    position: relative;
    padding-bottom: 5px;
    transition: all .3s ease;
}

.nav-bar a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 56px;
    background-color: var(--main-orange-color);
    transition: width 0.3s ease;
}

.nav-bar a:hover:after {
    width: calc(100% - 56px);
}

.nav-bar a:hover,
.nav-bar a.active {
    color: var(--main-orange-color);
}

/* MEDIA BREAKPOINTS */

/* Small Screens (Phones) */
@media (max-width: 768px) {
    :root {
        --outer-margin: 25px;
    }

    .nav-bar a {
        text-align: end;
        display: block;
        padding-left: 0px;
        padding-bottom: 10px;
    }

    .mouse-pointer {
        background-color: rgba(0, 0, 0, 0);
    }
}